# iLovePDF API Keys (required for PDF to Word conversion)
ILOVEPDF_PUBLIC_KEY=project_public_d4fdbcb7992d5a392b7464f9a0cfe8ed__FtS882d4ea0e003b294edc287e2a0f03d4ce
ILOVEPDF_SECRET_KEY=secret_key_08b7b46927f105927915f96f9c89a74b_bvFP43cf329ef8e2a187c2ee7c31d96773f33

# AI Studio automatically injects this at runtime from user secrets.
GEMINI_API_KEY="AQ.Ab8RN6KbSd2Exo_7YyBlMeIXqqN6rvVWLOdJPsBqL92527v7wQ"

# APP_URL: The URL where this applet is hosted.
APP_URL="MY_APP_URL"
