# Adobe PDF Services API
ADOBE_CLIENT_ID=bc54816051864bf09fbdd3a4a3368cb2
ADOBE_CLIENT_SECRET=p8e-7_Pfw3nU4sgPhbOSIlNNwonVcaSerb1-
# AI Studio automatically injects this at runtime from user secrets.
GEMINI_API_KEY="AQ.Ab8RN6KbSd2Exo_7YyBlMeIXqqN6rvVWLOdJPsBqL92527v7wQ"

# Supabase Configuration
VITE_SUPABASE_URL=https://bgosmlwqylvfyghasqvx.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_N8jx-vJ6KLdqPC8kWywXKw_QOH4jalr

# APP_URL: The URL where this applet is hosted.
APP_URL="MY_APP_URL"
